! Cursor
Xcursor.theme: Breeze_Obsidian
Xcursor.size: 16

! XFT Font Settings
Xft.autohint:         0
Xft.antialias:        1
Xft.hinting:          true 
Xft.hintstyle:        hintfull
Xft.rgba:             rgb
Xft.lcdfilter:        lcddefault

